.charName { font-family: sans-serif; font-size: 11; font-weight: bold; }
.itemName { font-family: sans-serif; font-size: 11; font-weight: bold;}
.pointCounter { font-family: "Arial", sans-serif; font-size: 8pt; color: black;  }
.stats { font-family: "Arial", sans-serif; font-size: 8pt; color: white; font-weight: bold; }
.stats2 { font-family: "Arial", sans-serif; font-size: 7pt; color: white; font-weight: bold;  }